

<div style="max-width: 100%; margin: auto; border: 1px solid #ccc; padding: 20px; margin-top: 50px; border-radius: 10px; font-family: Arial;">  
  <h2 style="text-align: center;">Все заказы</h2>
  
   <style>
.btn {
    margin: 10px;
}
</style>

<form action="/searchOrderCompleted" method="get" style="display: flex; flex-direction: row; justify-content: center; align-items: stretch; width: 50%; margin: auto; padding: 10px;">
    <input type="text" id="orderId" name="orderId" required placeholder="Номер заказа" class="form-control" style="border: 4px solid #1ab188; border-radius: 3px 0 0 3px; border-right: none;">
    <input type="submit" value="Поиск" style="color: white; background-color: #1ab188; border: 3px solid #1ab188; border-radius: 0 3px 3px 0; height: 53px">
</form>





   
 <ul id="orderList" style="list-style-type: none; display: flex; justify-content: center; margin-top: 20px;">
    {{#if orderComplete}}
        <li class="orderItem" style="margin-bottom: 20px;  padding: 10px; border: 3px solid #1ab188; border-radius: 10px; flex: 0 0 calc(40% - 40px); {{#if (isOverThreeDays orderComplete.Status orderComplete.StatusChangeDate)}}background-color: #ffcccc;{{/if}}">
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Номер заказа:</strong> {{orderComplete.OrderID}}</p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Товар:</strong> {{orderComplete.ProductName}}</p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Количество:</strong> {{orderComplete.Quantity}}</p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>URL:</strong> <a href="{{orderComplete.URL}}">{{orderComplete.URL}}</a></p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Желаемые сроки: </strong> {{dateFormat orderComplete.StartDate 'DD MM'}}</p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Дата совершения заказа: </strong> {{OrderDateAndEndDate orderComplete.OrderDate 'DD MM YY'}}</p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Дата завершения заказа: </strong> {{OrderDateAndEndDate orderComplete.EndDate 'DD MM YY'}}</p>
          <p class="lead" style="border-bottom: 1px solid #ccc; padding: 4px;"><strong>Автор:</strong> {{orderComplete.Author}}</p>
        </li>
    {{/if}}
      
    
  </ul>
  
  <ul id="orderList" style="list-style-type: none; display: grid; grid-template-columns: repeat(3, 1fr); gap: 1em;">
    {{#each orders}}
      <li style="margin-bottom: 20px; padding: 10px; border: 3px solid #1ab188; border-radius: 10px;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Номер заказа: {{this.OrderID}}" aria-label="OrderID" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Товар: {{this.ProductName}}" aria-label="ProductName" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Количество: {{this.Quantity}}" aria-label="Quantity" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="URL: {{this.URL}}" aria-label="URL" aria-describedby="basic-addon1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; width: 300px;">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Желаемые сроки: {{dateFormat this.StartDate 'DD MM'}}" aria-label="Dates" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Дата совершения заказа: {{OrderDateAndEndDate this.OrderDate 'DD MM YY' }}" aria-label="Dates" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Дата завершения заказа: {{OrderDateAndEndDate this.EndDate 'DD MM YY' }}" aria-label="Dates" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Автор: {{this.Author}}" aria-label="Author" aria-describedby="basic-addon1" readonly>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
